body{
    background-color: rebeccapurple;
    margin: 0px;
}
#header{
    width:100%;
    height:20vh;
    background-color: green;
}

#billingInformation{
    display: flex;
    flex-direction: column;
}

#billingInformation input{
    width:10%;
    margin:10px;
}

#shippingInformation{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
}

#shippingInformation input{
    width:10%;
    margin:10px;
}

.cartItem{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: black 1px solid;
    width: 50%;
    height: 20vh;
}


#cartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemCard{
    width:50%;
    height:auto;
    display:flex;
    border:black 1px solid;
    border-bottom: 0px;
}
#cartItems{
    justify-self: center;
}
#itemNumber{
    text-align: center;
}