body{
    background-color: rebeccapurple;
    margin: 0px;
}
#header{
    width:100%;
    height:20vh;
    background-color: green;
}

#billingInformation{
    display: flex;
    flex-direction: column;
}

#billingInformation input{
    width:10%;
    margin:10px;
}

#shippingInformation{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
}

#shippingInformation input{
    width:10%;
    margin:10px;
}