body{
    background-color: lightgray;
    margin: 0px;
}
#header{
    width:100%;
    height:20vh;
    background-color: green;
}

#billingInformation{
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right:25%;
    width:50%; 
    margin-top:7vh;
}

#billingContent{
    /* text-align: end; */
    width: 70%;
    font-size: 110%
}

#billingContent div{
    text-align: end;
}

#billingContent input{
    margin-left: 46%;
    width:50%;
    border:none;
    border-bottom: lightgray 1px solid;
    font-size:90%;
}

#billingContent input:focus{
    outline-width: 0;
    transition: .5s;
    border-bottom: 2px maroon solid
}

#billingContent  div input{
    width:50%;
    margin:10px;
    border:none;
    border-bottom:1px solid lightgray
}

#billingContent  div input:focus{
    outline-width: 0;
    transition: .5s;
    border-bottom: 2px maroon solid;
    background-color: white;
    border-left: 0px;
}

#shippingInformation{
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right:25%;
    width:50%; 
}
#shippingContent{
    width: 70%;
    font-size: 110%;
}

#shippingContent input{
    margin-left: 46%;
    width:50%;
    border:none;
    border-bottom: lightgray 1px solid;
    font-size:90%;
}

#shippingContent input:focus{
    outline-width: 0;
    transition: .5s;
    border-bottom: 2px maroon solid
}

#shippingContent  div input{
    width:50%;
    margin:10px;
    border:none;
    border-bottom:1px solid lightgray
} 

#shippingContent  div input:focus{
    outline-width: 0;
    transition: .5s;
    border-bottom: 2px maroon solid;
    background-color: white;
}
#shippingContent div{
    text-align: end;
}

#shippingInformation input{
    margin-left: 46%;
    width:50%;
    border:none;
    border-bottom: lightgray 1px solid;
    font-size:90%;
}

.cartItem{
    border-right: black 1px solid;
    width: 50%;
}


#cartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.itemCard{
    width:100%;
    height:auto;
    display:flex;
    border:black 1px solid;
    border-bottom: none;
    padding-left:2%;
    text-align: center;
}
#cartItems{
    margin-left: 25%;
    margin-right: 25%;
}
#itemNumber{
    text-align: center;
}

#content{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    box-shadow: 3px 4px 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

#cartLabels{
    background-color: maroon;
    color: white;
    font-size: 120%;
    font-family: 'Jost', sans-serif;
    text-align: center;
    height: 12vh;
}

#boxes {
    font-size: 110%;
    margin-left:5%;
}

.button{
    align-self: center;
    width: 90%;
    margin-top: 5%;
    border-radius: 50px;
    background-color: #ec9706;
    font-size: 110%;
    color:white;
    border:none;
    padding:1%;
    margin-bottom: 2%;
    margin-right: 2%;
}

.button:hover{
    background-color: #c95c0d;
    transition: .2s;
    cursor: pointer;
}

#buttons{
    display: flex;
    align-self: center;
    width:30%;
}

.failMsg{
    display: none;
}